body {
   background-color: blue ; 
}
h1 {color: rgb(59, 255, 59);
font-family: 'Oswald', sans-serif;
font-size: 500%;
}
P {color: crimson ;
font-family: 'Oswald', sans-serif;
font-size: x-large;
}